@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
    margin: 0;
  }

  .root {
      height: 100vh;
      height: calc(100% - 60px);
  }

  .home {
    position: relative;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
  }

  .home__header{
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;  /*regardless of how big it gets, keep aspect ratio - no stretch or weird size/prop*/
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .home__footer{
    background-color: white;
    border-top: 1px solid lightgray;
    padding: 20px 0 20px 0;
    left: 0;
    bottom: 0;
    right:0;
    height: 20px;
    width: 100%;
    object-fit: contain;  /*regardless of how big it gets, keep aspect ratio - no stretch or weird size/prop*/
    display: flex;
    justify-content:center;
    align-items:center;
    position: fixed;
  }

  .home__footerText {
    margin-right: 15px;
  }

  .home__headerImage {
    object-fit: contain;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    /* margin-left: auto; */
  }

  .home__content {
    float: left;
  }

  .home__column {
      background-color: #fafafa;
      display: flex;
    height: 100%;
    flex:1;
    position: fixed;
    
  }

  .home__text {
    float: left;
    width: 35%;

    display: flex;
    align-items: center;
    line-height: 50px;
    text-align: center;

    padding-left: 50px;
    padding-right: 50px;
    border-right: 1px solid lightgray;

    font-family: 'Noto Sans, sans-serif';

  }

  .home__right {
    display: flex;
    justify-content: center;
    align-content: center;
    float: right;
    width: 65%;
  }

  .home__button {
      border: 1px solid lightgray;
  }

  .home__image {
    object-fit: contain;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    vertical-align: middle;

    /* max-height: 20%; */
    opacity: 0.9;
    /* margin-top: 5px; */

    /* margin-left: auto; */
  }


